<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center; padding-top: 20px">
  <!--<app-line-chart></app-line-chart>-->
  <!--<app-bar-chart></app-bar-chart>-->
  <app-stacked-bar-chart></app-stacked-bar-chart>
</div>
<ngl-badge>Badge</ngl-badge>
<ngl-badge type="default">Default</ngl-badge>
<ngl-badge type="info">Info</ngl-badge>
<ngl-badge type="success">Success</ngl-badge>
<ngl-badge type="warning">Warning</ngl-badge>
<ngl-badge type="error">Error</ngl-badge>

<span appBacon>Sandwich!</span>
